# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Operating system files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Generated analysis outputs
*.pdf
